* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    outline: none;
    list-style: none;
}

:root {
    --title-text-color: #7e3f8f;
    --btn-newCategoria: #6e2f80;
    --btn-backgroundHover: #8c46a0;
    --font-btn: white;
}

h1,
h2 {
    color: var(--title-text-color);
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-areas:
        'header header'
        'main main';
    margin: 50px 50px;
}

.grid-main {
    grid-area: main;
}

.categorias-conteiner {
    display: none;
    border: 2px solid rgb(223, 222, 222);
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
}

.categoria-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#btn-novaCategoria {
    box-shadow: none;
    border: none;
    background-color: var(--btn-newCategoria);
    color: var(--font-btn);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    width: 180px;
}

#btn-novaCategoria:hover {
    background-color: var(--btn-backgroundHover);
    cursor: pointer;
}

#more {
    margin-right: 15px;
    font-weight: bold;
}

/*------------------------------------------------------------------------------*/
.colums-line,
.data ul {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;
}

.btn-edit {
    border: 1px solid rgb(230, 230, 230);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.produtos-conteiner {
    display: none;
    border: 2px solid rgb(223, 222, 222);
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#btn-novoProduto {
    border: none;
    background-color: var(--btn-newCategoria);
    color: var(--font-btn);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    width: 180px;
}

#btn-novoProduto:hover {
    background-color: var(--btn-backgroundHover);
    cursor: pointer;
}

#more {
    margin-right: 15px;
    font-weight: bold;
}

/* Tabela principal */
.table {
    width: 100%;
    border-collapse: collapse; /* remove espaços entre bordas */
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
.table thead th {
    background-color: #ffffff;
    text-align: left; /* texto à esquerda no cabeçalho */
    padding: 8px;
    border-bottom: 1px solid #ebebeb;
}

/* Linhas do corpo */
.table tbody td {
    padding: 8px;
    border-bottom: 1px solid #ececec;
    text-align: left; /* texto à esquerda */
    vertical-align: middle;
}

.table tbody td img {
    display: flex;
    align-items: start;
    padding: 8px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
}

.table tbody td img:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

/* Coluna de preço, estoque ou status que você queira alinhar à direita */
.table tbody td.preco,
.table tbody td.estoque,
.table tbody td.status {
    text-align: right;
}

/* Coluna de ações */
.table tbody td:last-child {
    text-align: left;
}

/* cores dos status */
.status-color-red {
    color: red;
}
.status-color-green {
    color: green;
}

.pedidos-conteiner {
    display: none;
    border: 2px solid rgb(223, 222, 222);
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
    align-items: left;
}

#btn-filtraPedido {
    border: none;
    background-color: rgb(245, 244, 244);
    color: var(--font-btn);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    width: 80px;
}

#btn-filtraPedido:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}
