* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    outline: none;
    list-style: none;
}

:root {
    --title-text-color: #7b358f;
    --text-p-color: rgb(163, 163, 163);
    --color-input-header: rgb(245, 245, 245);
    --color-car-shopping: #6b2e7c;
}

h1,
h2 {
    font-size: 1.5rem;
    color: var(--title-text-color);
    font-weight: 600;
}

p {
    font-size: 0.9rem;
    color: var(--text-p-color);
}

.info-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
.grid {
    display: grid;
    grid-template-areas:
        'header header'
        'main main';
}

/*HEADER*/
.header-store {
    grid-area: header;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.header-store nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.search-produto {
    display: flex;
    background-color: var(--color-input-header);
    border-radius: 10px;
    padding: 8px;
}
.header-store nav input {
    border: none;
    background-color: var(--color-input-header);
    margin-left: 10px;
}
/*HEADER*/

/*MAIN*/
.main-store {
    grid-area: main;
    padding: 10px;
    height: 100vh;
}
.container-produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categoria-produto {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.info-produto {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    width: 48%;
    height: 380px;
    margin-bottom: 30px;
}
.info-img {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-text {
    display: flex;
    flex-direction: column;
    height: 100%; /* ocupa toda altura disponível */
    align-items: start;
    margin-top: 25px;
    padding: 10px;
    gap: 10px;
}
.info-text h4 {
    color: var(--title-text-color);
    font-weight: 600;
}
.info-produto button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #7b358f;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: auto; /* empurra o botão pro final */
}

.btn-container {
    display: flex;
}
.sem-estoque {
    color: red;
}

.info-produto button.btn-disabled {
    background-color: rgb(228, 228, 228);
}
/*MAIN*/

.cart-shopping {
    position: fixed;
    bottom: 20px; /* distância da borda inferior */
    right: 20px; /* distância da borda direita */
    width: 60px;
    height: 60px;
    background-color: var(--color-car-shopping); /* fundo branco (ou outro que preferir) */
    border-radius: 50%; /* deixa redondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra leve */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000; /* fica acima do conteúdo */
    transition: transform 0.2s ease;
}

.info-produto.dis {
    background-color: rgba(224, 224, 224, 0.479);
    z-index: 1;
}
