* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    outline: none;
    list-style: none;
}

:root {
    --title-text-color: #7e3f8f;
    --btn-newCategoria: #6e2f80;
    --btn-backgroundHover: #8c46a0;
    --font-btn: white;
}

h1,
h2 {
    color: var(--title-text-color);
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-areas:
        "header header"
        "main main";
    margin: 50px 50px;
}

.grid-header {
    grid-area: header;
    display: flex;
}
.list-cpp {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu-backoffice {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 2px;
    margin-top: 25px;
}

.menu-backoffice li {
    display: flex;
    justify-content: center;
    padding: 7px;
    align-items: center;
    border-radius: 100px;
    width: 50%;
    margin: 2px;
    font-size: 1.1rem;
}

.menu-backoffice li:hover {
    background-color: white;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------*/

.grid-main {
    grid-area: main;
}

.categorias-conteiner {
    display: none;
    border: 2px solid rgb(223, 222, 222);
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
}

.categoria-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#btn-novaCategoria {
    box-shadow: none;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: var(--btn-newCategoria);
    color: var(--font-btn);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    width: 180px;
}

#btn-novaCategoria:hover {
    background-color: var(--btn-backgroundHover);
    cursor: pointer;
}

#more {
    margin-right: 15px;
    font-weight: bold;
}

/*------------------------------------------------------------------------------*/
.colums-line,
.data ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;
}

/* --- Colunas --- */
.colums-line li,
.data ul li {
    flex: 1;
}

/* Ajuste de largura das colunas */
#categoria-id,
.data ul li:first-child {
    flex: 0.5;
}

#categoria-acoes,
.data ul li:last-child {
    flex: 0.2;
    text-align: right;
}

/* --- Estilos do Status --- */
.status-visivel {
    /* Estilos atuais da cor */
    color: #155724;
}

.status-invisivel {
    color: red;
}

.btn-editCategoria {
    border: 1px solid rgb(230, 230, 230);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

/*------------------- box New Categoria -------------------------------*/
/* Fundo escuro atrás do modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* fundo transparente */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999; /* fica por cima de tudo */
}

/* Caixa do modal */
.box-nova-Categoria {
    background: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

/* Animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Cabeçalho */
.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.box-top p {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-nome {
    display: flex;
    flex-direction: column;
    width: 95%;
}

/* status */
.box-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6a0dad; /* roxo */
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.btn-create-categoria {
    box-shadow: none;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: var(--btn-newCategoria);
    color: var(--font-btn);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.btn-create-categoria:hover {
    background-color: var(--btn-backgroundHover);
    cursor: pointer;
}

.box-sucess {
    background: white;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    text-align: center;

    position: fixed;
    top: -80px; /* começa fora da tela */
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.2s ease, top 0.2s ease;
    z-index: 9999;
}

/* quando ativo */
.box-sucess.show {
    top: 20px; /* desce e aparece */
    opacity: 1;
}
#create-sucess {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay-update {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* fundo transparente */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999; /* fica por cima de tudo */
}

/*---------------------------------------------------------------------------*/
.produtos-conteiner {
    display: none;
    border: 2px solid rgb(223, 222, 222);
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#btn-novoProduto {
    border: none;
    background-color: var(--btn-newCategoria);
    color: var(--font-btn);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    width: 180px;
}

#btn-novoProduto:hover {
    background-color: var(--btn-backgroundHover);
    cursor: pointer;
}

#more {
    margin-right: 15px;
    font-weight: bold;
}

/* Tabela principal */
.table {
    width: 100%;
    border-collapse: collapse; /* remove espaços entre bordas */
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
.table thead th {
    background-color: #ffffff;
    text-align: left; /* texto à esquerda no cabeçalho */
    padding: 8px;
    border-bottom: 1px solid #ebebeb;
}

/* Linhas do corpo */
.table tbody td {
    padding: 8px;
    border-bottom: 1px solid #ececec;
    text-align: left; /* texto à esquerda */
    vertical-align: middle;
}

.table tbody td img {
    border: 1px solid rgb(223, 223, 223);
    padding: 5px;
    border-radius: 8px;
}

.table tbody td img:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

/* Coluna de preço, estoque ou status que você queira alinhar à direita */
.table tbody td.preco,
.table tbody td.estoque,
.table tbody td.status {
    text-align: right;
}

/* cores dos status */
.status-color-red {
    color: red;
}
.status-color-green {
    color: green;
}

/* Coluna de ações */
.table tbody td:last-child {
    text-align: right;
}

.pedidos-conteiner {
    display: none;
    border: 2px solid rgb(223, 222, 222);
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
    align-items: left;
}

#btn-filtraPedido {
    border: none;
    background-color: rgb(245, 244, 244);
    color: var(--font-btn);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    width: 80px;
}

#btn-filtraPedido:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.drop-area.hover {
    background-color: #f0f0f0;
    border-color: #333;
}
